{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>О себе</h1>
        <p>На момент начала 2023 года являюсь студентом 3-его курса факультета "Программная инженерия"
            Северо-Кавказского Федерального Университета. Данный сайт разработан с ипользованием языка программирования
            Python и фреймворка Django, также при его создании немного использовались языки CSS и HTML. Данное
            WEB-приложение создано в ознакомительных целях для закрепления знаний об Python/Django и дополнения
            своего портфолио .
        </p>
        <a href="{% url 'home' %}" class="btn btn-danger">На главную</a>
    </div>
{% endblock %}