{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Космос — это бескрайнее пространство, окружающее Землю, со всеми его планетами, звездами,
            и огромным количеством других объектов. Многие из них продолжают рождаться и умирать, подобно черным дырам
            или сверхновым, взрывы которых периодически фиксируют телескопы.</p>
        <a href="{% url 'about' %}" class="btn btn-warning">На страницу о себе</a>
    </div>
{% endblock %}